HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Project exclude paths
/.gradle/
/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jpb

###Env###
env.env

###Logs###
application.log
*.gz

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache